# Covid Viz

> a visual vibe check

![well there was an covid image !](https://phil.cdc.gov//PHIL_Images/23354/23354_lores.jpg)

In [ ]:
# install everything
!pip install numpy pandas matplotlib seaborn tqdm

In [ ]:
# imports
import numpy as np
import pandas as pd
pd.plotting.register_matplotlib_converters()

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

import seaborn as sns
sns.set()

In [ ]:
# some config
# pretty print
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [13]:
covid = pd.read_csv("./data/owid-covid-data.csv")

In [14]:
covid.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83

In [22]:
covid.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,new_tests,total_tests,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
count,3.453200e+04,34532.000000,34532.000000,34532.000000,34468.000000,34468.000000,34468.000000,34468.000000,10810.000000,1.116400e+04,...,31200.000000,30975.000000,20726.000000,31391.000000,32441.000000,24870.000000,24570.000000,14408.000000,28514.000000,34386.000000
mean,5.591961e+04,1072.603904,2820.002983,40.573323,1181.224459,18.417356,42.846917,0.539348,17337.288992,8.582183e+05,...,5.969661,21445.666623,11.581670,249.762116,8.039665,10.969978,32.627866,53.116531,3.141677,74.207103
std,5.718551e+05,9928.361488,26686.107891,351.234530,2811.296658,62.791382,125.674001,2.993556,63829.587654,3.452220e+06,...,4.356104,20672.427660,18.810781,117.882856,4.122964,10.501366,13.338797,31.482840,2.545258,7.323805
min,0.000000e+00,-2461.000000,0.000000,-1918.000000,0.000000,-265.189000,0.000000,-41.023000,-3743.000000,1.000000e+00,...,0.526000,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000
25%,2.300000e+01,0.000000,0.000000,0.000000,10.045000,0.000000,0.000000,0.000000,825.000000,2.895650e+04,...,2.162000,5819.495000,0.500000,153.493000,5.310000,1.900000,21.400000,22.863000,1.380000,70.390000
50%,5.090000e+02,6.000000,10.000000,0.000000,177.742000,0.864000,2.362000,0.000000,2869.500000,1.222395e+05,...,4.458000,14600.861000,1.700000,235.954000,7.110000,6.434000,31.400000,55.182000,2.540000,75.800000
75%,5.838000e+03,110.000000,115.000000,2.000000,1023.812000,11.323250,24.359000,0.148000,9915.250000,4.794205e+05,...,9.720000,32605.906000,15.000000,318.949000,10.180000,19.600000,40.900000,83.741000,4.210000,80.070000
max,1.851958e+07,298082.000000,700539.000000,10504.000000,38714.223000,4944.376000,1237.551000,200.040000,929838.000000,5.754385e+07,...,18.493000,116935.600000,77.600000,724.417000,23.360000,44.000000,78.100000,98.999000,13.800000,86.750000

In [23]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34873 entries, 0 to 34872
Data columns (total 36 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         34809 non-null  object
 1   continent                        34590 non-null  object
 2   location                         34873 non-null  object
 3   date                             34873 non-null  object
 4   total_cases                      34532 non-null  float64
 5   new_cases                        34532 non-null  float64
 6   total_deaths                     34532 non-null  float64
 7   new_deaths                       34532 non-null  float64
 8   total_cases_per_million          34468 non-null  float64
 9   new_cases_per_million            34468 non-null  float64
 10  total_deaths_per_million         34468 non-null  float64
 11  new_deaths_per_million           34468 non-null  float64
 12  new_tests                        10810 non-null  float64
 13  total_tests                      11164 non-null  float64
 14  total_tests_per_thousand         11164 non-null  float64
 15  new_tests_per_thousand           10810 non-null  float64
 16  new_tests_smoothed               12162 non-null  float64
 17  new_tests_smoothed_per_thousand  12162 non-null  float64
 18  tests_per_case                   11320 non-null  float64
 19  positive_rate                    11664 non-null  float64
 20  tests_units                      12898 non-null  object
 21  stringency_index                 28193 non-null  float64
 22  population                       34809 non-null  float64
 23  population_density               33289 non-null  float64
 24  median_age                       31362 non-null  float64
 25  aged_65_older                    30905 non-null  float64
 26  aged_70_older                    31200 non-null  float64
 27  gdp_per_capita                   30975 non-null  float64
 28  extreme_poverty                  20726 non-null  float64
 29  cardiovasc_death_rate            31391 non-null  float64
 30  diabetes_prevalence              32441 non-null  float64
 31  female_smokers                   24870 non-null  float64
 32  male_smokers                     24570 non-null  float64
 33  handwashing_facilities           14408 non-null  float64
 34  hospital_beds_per_thousand       28514 non-null  float64
 35  life_expectancy                  34386 non-null  float64
dtypes: float64(31), object(5)
memory usage: 8.9+ MB

In [24]:
# column titles
covid.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy'],
      dtype='object')

In [ ]:
# todo

In [ ]:
# todo

source : <https://ourworldindata.org/coronavirus-source-data> 

<br/>

<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.